<!doctype html>
<html>
<head>
    <title>Sequence Analyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <h1 class="text-center">Upload Sequence File</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Analyze</button>
        </form>
    </div>
</body>
</html>
